<ion-header>
  <ion-toolbar>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Nuevo juego</ion-label>
    <ion-input [(ngModel)]="gameName"></ion-input>
  </ion-item>

  <ion-list *ngFor="let game of gameList">
    <ion-item>
      <ion-label>{{game}}</ion-label>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="add()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>